footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
  }
  
  footer .copy {
    margin-top: 10px;
    font-size: 14px;
    color: #788190;
    line-height: 17px;
    font-weight: 400;
  }
  
  @media (max-width: 576px) {
    footer {
      padding-top: 50px;
      margin-bottom: 44px;
    }
  }
  